<style type="text/css">
  #products-view {
    font-family:'Lucida Grande','Lucida Sans Unicode',sans-serif;
    text-align:center;
    font-size:14px;
    width:100%;
    border-collapse: collapse;
    border: 2px solid #CCCCCC;
  }

  #products-view a {
    text-decoration:none;
  }

  #products-view img {
    height:60px;
    width:65px;
    padding-right:15px;
  }

  #products-view div
  {
    float:left;
    text-align:left;
  }

  #products-view th {
    padding: 0 0.5em;
    height:30px;
    text-align:center;
    background:url("/images/knitkit/footer.png") repeat-x scroll 0 0 #29425E;
  }

  .highlight:hover
  {
    background-color:#FFFFEE;
  }

  #products-view td+td {
    border-left: 1px solid #CCC;
    text-align: center;
  }
</style>
<div id="<%=widget_result_id%>">
  <h2>Cart Items</h2>
  <% unless @order.order_line_items.empty? %>
    <table id="products-view">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Remove</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_line_items.each do |order_line_item| %>
          <tr class="product-wrap highlight">
            <td>
              <div><img src="<%=order_line_item.product_type.images.empty? ? '/images/img_blank.png' : order_line_item.product_type.images.first.data.url%>" alt="Product Image" /></div>
              <div>
                <span><%= raw order_line_item.product_type.description %></span><br/>
              </div>
            </td>
            <td><%= raw order_line_item.product_type.descriptions.find_by_internal_identifier('long_description').description%></td>
            <td>1</td>
            <td><%=link_to_remote 'Remove', build_widget_url(:remove_from_cart, order_line_item.id)%></td>
            <td><span><%=order_line_item.product_type.get_current_simple_amount_with_currency.nil? ? 'no price set' : order_line_item.product_type.get_current_simple_amount_with_currency%></span></td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <hr />
    <div style="float:right"><h2>Total <%=@price%></h2></div>
    <a href="<%=@products_url%>">Continue Shopping</a><%=link_to_remote ' | Check Out', build_widget_url(:checkout_demographics) unless @order.order_line_items.empty?%>
  <%else%>
    <h2>No items in cart.</h2>
  <%end%>
</div>
<script type="text/javascript">
  Compass.ErpApp.Widgets.refreshWidget('shopping_cart', 'price_summary');
</script>