<div id="<%=widget_result_id%>">
  <h2>What you're buying...</h2>
  <table id="products-view">
    <thead>
      <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_line_items.each do |order_line_item| %>
        <tr class="product-wrap">
          <td>
            <div><img src="<%=order_line_item.product_type.images.empty? ? '/images/img_blank.png' : order_line_item.product_type.images.first.url%>" alt="Product Image" /></div>
            <div>
              <span><%= raw order_line_item.product_type.description %></span><br/>
            </div>
          </td>
          <td><%= raw order_line_item.product_type.descriptions.find_by_internal_identifier('long_description').description%></td>
          <td>1</td>
          <td><%=link_to 'Remove', build_widget_url(:remove_from_cart, order_line_item.id), :remote => true, :class => 'ajax_replace'%></td>
          <td><span><%=order_line_item.product_type.get_current_simple_amount_with_currency.nil? ? 'no price set' : order_line_item.product_type.get_current_simple_amount_with_currency%></span></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <hr/>
  <div style="text-align:right;"><h2>Total <%=@price%></h2></div>
  <hr/>

  <div>
    <h2>Step 1 of 3 Billing Information</h2>
    <div style="color:red">
      <%= raw @billing_error_message%>
    </div>
    <%= form_remote_tag build_widget_url(:checkout_payment), :id => 'demographics_form' do %>
      <div class="form_settings">
        <p>
          <span>First Name</span>
          <%= text_field_tag :bill_to_first_name, params[:bill_to_first_name] %>
        </p>
        <p>
          <span>Last Name</span>
          <%= text_field_tag :bill_to_last_name, params[:bill_to_last_name] %>
        </p>
        <p>
          <span>Address Line 1</span>
          <%= text_field_tag :bill_to_address_line_1, params[:bill_to_address_line_1] %>
        </p>
        <p>
          <span>Address Line 2</span>
          <%= text_field_tag :bill_to_address_line_2, params[:bill_to_address_line_2] %>
        </p>
        <p>
          <span>City</span>
          <%= text_field_tag :bill_to_city, params[:bill_to_city] %>
        </p>
        <p>
          <span>State</span>
          <%= select_tag(:bill_to_state, options_for_select(GeoZone.all.collect{|item| [item.zone_name,item.zone_code]},  params[:bill_to_state])) %>
        </p>
        <p>
          <span>Country</span>
          <%= select_tag(:bill_to_country, options_for_select(GeoCountry.find_all_by_display(true).collect{|item| [item.name,item.iso_code_2]},  params[:bill_to_country])) %>
        </p>
        <p>
          <span>Postal/Zip Code</span>
          <%= text_field_tag :bill_to_postal_code, params[:bill_to_postal_code] %>
        </p>
        <p>
          <span>Email</span>
          <%= text_field_tag :bill_to_email, params[:bill_to_email] %>
        </p>
        <p>
          <span>Phone Number</span>
          <%= text_field_tag :bill_to_phone, params[:bill_to_phone] %>
        </p>
        <br/>
        <input type="checkbox" name="ship_to_billing" style="width:10px;" <%= if params[:ship_to_billing] == 'on' then raw('checked="checked"') end%> onclick="
          if(this.checked){
            Ext.get('shippingToBillingMessage').setStyle('display','');
            Ext.get('shippingInfoDiv').setStyle('display','none');
            Ext.get('shipToErrorMessages').setStyle('display','none');
          }
          else{
            Ext.get('shippingInfoDiv').setStyle('display','');
            Ext.get('shipToErrorMessages').setStyle('display','');
            Ext.get('shippingToBillingMessage').setStyle('display','none');
          }"/>&nbsp;Ship items to the above billing address
        <br/>
        <div class="form_settings">
          <h2>Step 2 of 3 Shipping Information</h2>
          <div style="color:red" id="shipToErrorMessages">
            <%= raw @shipping_error_message%>
          </div>
          <p id="shippingToBillingMessage" <%= if params[:ship_to_billing].blank? then raw('style="display:none;"') end%>>Item(s) will be shipped to your billing address.</p>
          <div id="shippingInfoDiv" <%= if params[:ship_to_billing] == 'on' then raw('style="display:none;"') end%>>
            <p>
              <span>First Name</span>
              <%= text_field_tag :ship_to_first_name, params[:ship_to_first_name] %>
            </p>
            <p>
              <span>Last Name</span>
              <%= text_field_tag :ship_to_last_name, params[:ship_to_last_name] %>
            </p>
            <p>
              <span>Address Line 1</span>
              <%= text_field_tag :ship_to_address_line_1, params[:ship_to_address_line_1] %>
            </p>
            <p>
              <span>Address Line 2</span>
              <%= text_field_tag :ship_to_address_line_2, params[:ship_to_address_line_2] %>
            </p>
            <p>
              <span>City</span>
              <%= text_field_tag :ship_to_city, params[:ship_to_city] %>
            </p>
            <p>
              <span>State</span>
              <%= select_tag(:ship_to_state, options_for_select(GeoZone.all.collect{|item| [item.zone_name,item.zone_code]},  params[:ship_to_state])) %>
            </p>
            <p>
              <span>Country</span>
              <%= select_tag(:ship_to_country, options_for_select(GeoCountry.find_all_by_display(true).collect{|item| [item.name,item.iso_code_2]},  params[:ship_to_country])) %>
            </p>
            <p>
              <span>Postal/Zip Code</span>
              <%= text_field_tag :ship_to_postal_code, params[:ship_to_postal_code] %>
            </p>
          </div>
        </div>
        <hr/>
        <p style="padding-top: 15px">
          <%=  submit_tag "Continue", :disable_with => "Please wait...", :class => "submit", :style => 'margin:0px;' %> | <a href="<%=@products_url%>">Back to store</a>
        </p>
      </div>
    <%end%>
  </div>
</div>