<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style type="text/css">
<%@desktop.applications.each do |application|%>
        .<%=application.shortcut_id%>-shortcut{
          background-image:url("/images/icons/<%=application.icon.split('-')[1]%>/<%=application.icon.split('-')[1]%>_48x48.png");
          height:48px;
          width:48px;
        }
<%end%>
      .control-panel-win-shortcut{
        background-image:url("/images/icons/control_panel/control_panel_48x48.png");
        height:48px;
        width:48px;
      }

      .web-navigator-win-shortcut{
        background-image:url("/images/icons/globe/globe_48x48.png");
        height:48px;
        width:48px;
      }

      #loading-mask {
        position: absolute;
        left:     0;
        top:      0;
        width:    100%;
        height:   100%;
        z-index:  20000;
        background-color: white;
      }

      #loading {
        position: absolute;
        left:     50%;
        top:      50%;
        padding:  2px;
        z-index:  20001;
        height:   auto;
        margin:   -35px 0 0 -30px;
      }

      #loading .loading-indicator {
        background: url(/images/erp_app/ext_loading_image.gif) no-repeat;
        color:      #555;
        font:       bold 13px tahoma,arial,helvetica;
        padding:    8px 42px;
        margin:     0;
        text-align: center;
        height:     auto;
      }
    </style>

    <!--javascript-->
    <%= include_extjs(:theme => @desktop.get_preference(:extjs_theme), :debug => true) %>

    <%= static_javascript_include_tag("erp_app/utility.js")%>
    <%= static_javascript_include_tag("erp_app/desktop/ext_ux_desktop_module.js")%>
    
    <%= static_javascript_include_tag('erp_app/widgets.js')%>
    <%= include_widgets%>
 
    <%= static_javascript_include_tag(
      "erp_app/shared/status_window.js",
      "erp_app/shared/preference_form.js",
      "erp_app/shared/active_ext/active_ext_grid_panel.js",
      "erp_app/shared/active_ext/active_ext_grid.js",
      "erp_app/shared/dynamic_editable_grid_loader_panel.js",
      "erp_app/shared/dynamic_editable_grid.js",
      "erp_app/shared/notes_grid.js",
      "erp_app/desktop/applications/control_panel/module.js",
      "erp_app/desktop/applications/control_panel/desktop_management_panel.js",
      "erp_app/desktop/applications/control_panel/application_management_panel.js",
      "erp_app/desktop/applications/control_panel/profile_management_panel.js",
      "erp_app/desktop/applications/web_navigator/module.js",
      "erp_app/ckeditor/ckeditor.js",
      "erp_app/shared/compass_ckeditor.js",
      "erp_app/shared/file_manager_tree.js",
      "erp_app/coolclock/tray_clock.js",
      "erp_app/coolclock/coolclock.js",
      "erp_app/coolclock/moreskins.js"
    )%>
	<%@desktop.applications.each do |application| application.locate_resources('javascripts').each{|path|%>
		<%=static_javascript_include_tag(path)%>
	<%}end%>

    <!--stylesheets-->
    <%= static_stylesheet_link_tag('erp_app/compass-ext-all.css') %>
    <%= static_stylesheet_link_tag('erp_app/desktop/base.css') %>
	<%@desktop.applications.each do |application| application.locate_resources('stylesheets').each{|path|%>
		<%=static_stylesheet_link_tag(path)%>
	<%}end%>
	
	<!-- compass extensions -->
    <%=include_code_mirror%>
    <%=include_file_upload%>
    <%=setup_role_manager(@user)%>
    

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Compass Desktop</title>
  </head>
  <body>
    <script type="text/javascript">
      Ext.define("MyDesktop.App",{
        extend:"Ext.ux.desktop.App",
        requires:["Ext.window.MessageBox","Ext.ux.desktop.ShortcutModel"],
        init:function(){
          this.callParent()
        },
        getModules:function(){
          return[
            new Compass.ErpApp.Desktop.Applications.ControlPanel(),
            new Compass.ErpApp.Desktop.Applications.WebNavigator(),
            <%=@desktop.applications.collect{|app| "new #{app.javascript_class_name}({#{app.build_widget_roles_js}})"}.join(",").to_s%>
          ]
        },
        getDesktopConfig:function(){
          var b=this,a=b.callParent();
          return Ext.apply(a,{
            contextMenuItems:[
              {
                text:"Control Panel",
                handler:b.onControlPanel,
                scope:b
              }],
            shortcuts:Ext.create("Ext.data.Store",{
              model:"Ext.ux.desktop.ShortcutModel",
              data:[
                {applicationId:0,name:"Control Panel",iconCls:"control-panel-win-shortcut",module:"control-panel-win",autoLoad:'na'},
                {applicationId:0,name:"Web Navigator",iconCls:"web-navigator-win-shortcut",module:"web-navigator-win",autoLoad:'na'}<%=(@desktop.shortcuts.count > 0) ? ',' : '' %>
				<%=@desktop.shortcuts.collect{|app| "{name:'#{app.description}',iconCls:'#{app.shortcut_id}-shortcut',module:'#{app.shortcut_id}'}"}.join(",")%>
              ]
            }),
            wallpaper:"/images/wallpaper/<%=@desktop.get_preference(:desktop_background) %>",
            wallpaperStretch:true
          })
        },
        getStartConfig:function(){
          var b=this,a=b.callParent();
          return Ext.apply(a,{
            title:'<%=@user.party.description%>',
            iconCls:"icon-user",
            height:300,
            toolConfig:{
              width:100,
              items:[{
                  text:"Logout",
                  iconCls:"icon-key",
                  handler:b.onLogout,
                  scope:b
                }]
            }
          })
        },
        getTaskbarConfig:function(){
          var a=this.callParent();
          return Ext.apply(a,{
            quickStart:[{
                name:"Control Panel",
                iconCls:"icon-control_panel",
                module:"control-panel-win"
              }],
            trayItems:[{
                xtype:"trayclock",
                flex:1
              }]
          })
        },
        onLogout:function(){
          Ext.Msg.confirm("Logout","Are you sure you want to logout?", function(btn, text){
            if(btn == 'yes'){
              window.location = '/users/sign_out';
            }
          })
        },
        onControlPanel:function(){
          var controlPanel = window.compassDesktop.getModule('control-panel-win');
          controlPanel.createWindow();
        }
      });

      Ext.Loader.setPath({
        'Ext.ux.desktop': 'js',
        MyDesktop: ''
      });

      Ext.require('MyDesktop.App');

      var compassDesktop;
      Ext.onReady(function () {
        compassDesktop = new MyDesktop.App();
            
        setTimeout(function(){
          Ext.get('loading').remove();
          Ext.get('loading-mask').fadeOut({remove:true});
          <%
            @desktop.autoloads.each do |application|
          %>
            compassDesktop.getModule('<%=application.shortcut_id%>').createWindow();
          <%
            end
          %>
        }, 250);
      });

    </script>
    <div id="loading-mask"></div>
    <div id="loading">
      <div class="loading-indicator">
        <p style='margin-left: -110px; margin-top: 30px;'>Loading Compass Desktop...</p>
      </div>
    </div>
  </body>
</html>