<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="generator" content="adva-cms - Open source content management platform" />
    <title><%= @website.title %></title>
    <%= stylesheet_link_tag('knitkit/style.css') %>
    <%= yield :head %>
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div id="logo">
          <%=render_version_viewing%>
          <%=  render :partial => 'layouts/login' %>
          <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="/"><%= @website.title %></a></h1>
            <h2><%= @website.subtitle %></h2>
          </div>
        </div>
        <div id="menubar">
          <%= render_menu(@website_sections) %>
        </div>
      </div>

      <div id="site_content">
        
        <div id="sidebar" class="sidebar">
              <%= yield :sidebar %>
        </div>
                
        <div id="content">
          <%= yield %>
        </div>

      </div>
      <div id="content_footer"></div>
      <%= yield :footer or render :partial => 'shared/footer' %>
      <%= yield :foot %>
    </div>
  </body>
</html>
