<div id="<%=widget_result_id%>"></div>
<div>
  <%= form_tag '/users/sign_in', :remote => true, :id => 'login_form' do %>
    <div class="form_settings">
      <p>
        <span style="width:175px">Username or Email Address</span>
        <%= text_field_tag "user[login]"%>
      </p>
      <p>
        <span style="width:175px">Password</span>
        <%= password_field_tag "user[password]"%>
      </p>
      <input type="hidden" name="logout_to" value="<%=@logout_to%>" />
      <input type="hidden" name="login_to" value="<%=@login_to%>" />
      <input type="hidden" name="user[remote]" value="true" />
      <p style="padding-top: 15px">
        <span style="width:175px">&nbsp;</span>
        <%= submit_tag "Login", :disable_with => "Please wait...", :class => "submit", :style => 'margin:0px;'%> | <%= link_to 'Sign Up', @signup_url %>
      </p>
    </div>
  <% end %>
</div>
<script type="text/javascript">
$('#login_form').bind('ajaxComplete', function(e, xhr, settings){
  var response = jQuery.parseJSON(xhr.responseText);
  if(response.success){
    window.location = '<%=@login_to%>';
  }
  else{
    $('#<%=widget_result_id%>').html('<div class="sexyerror">'+response.errors.reason+'</div>');
  }
});
</script>




