<div>
  <% if @ajax_results %>
    <%= form_tag build_widget_url(:new), :remote => true, :id => 'search_form', :html => {:class => @css_class} do %>
      <%= hidden_field_tag :section_permalink, @section_permalink %>
      <%= hidden_field_tag :content_type, @content_type %>
      <%= hidden_field_tag :per_page, @per_page %>
      <%= text_field_tag :query %>
      <%= submit_tag "Search", :disable_with => "Please wait...", :class => "submit" %>
    <% end %>
  <% else %>
    <%= form_tag "/#{@results_permalink}", :method => :get, :html => {:id => 'search_form', :class => @css_class}  do %>
      <%= hidden_field_tag :section_permalink, @section_permalink %>
      <%= hidden_field_tag :results_permalink, @results_permalink %>
      <%= hidden_field_tag :content_type, @content_type %>
      <%= hidden_field_tag :per_page, @per_page %>
      <%= text_field_tag :query %>
      <%= submit_tag "Search", :disable_with => "Please wait...", :class => "submit" %>
    <% end %>
  <% end %>
</div>
<br />
<div id="<%=widget_result_id%>"></div>

<% if @ajax_results %>
<script type="text/javascript">
$('#search_form').bind('ajaxComplete', function(e, xhr, settings){
  $('#<%=widget_result_id%>').html(xhr.responseText);
});
</script>
<% end %>
