<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="generator" content="adva-cms - Open source content management platform" />
    <title><%= @site.title %></title>
    <%= javascript_include_tag "ext_3_3_0/adapter/ext/ext-base.js" %>
    <%= javascript_include_tag "ext_3_3_0/ext-all.js" %>

    <%= yield :head %>
  </head>
  <body>
    <div id="page">
      <div id="header" class="clearing">
        <h1><%= @site.title %></h1>
        <p><%= @site.subtitle %></p>
        <%= yield :header %>
      </div>
      <div id="navigation">
        <%= render_menu(@sections) %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
      <%= yield :footer or render :partial => 'shared/footer' %>
    </div>
    <%= yield :foot %>
  </body>
</html>
