<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Compass AE Login</title>

    <%= include_extjs %>
    <%= static_stylesheet_link_tag('erp_app/shared/compass-ext-all.css','erp_app/login/main.css') %>
    <%= static_javascript_include_tag("erp_app/utility.js","erp_app/login/window.js")%>
    <%= add_authenticity_token_to_extjs%>
  </head>
  <body style="background-color:#336699;">
    <div style="text-align:center;width:100%; padding-top: 5%;">
      <img alt="Compass Agile Enterprise" src="/images/art/truenorth-compass-combined-timeshare-navy-5.png" />
   </div>
    <script type="text/javascript">
      Ext.onReady(function(){
          var appContainers = [['/erp_app/desktop/','Compass Desktop'],['/erp_app/organizer/','Compass Organizer']];
          var loginWindow = new Compass.ErpApp.Login.Window({appContainers:appContainers, selectedAppContainerValue:'/erp_app/desktop/',redirectTo:'/erp_app/desktop/', logoutTo:'/erp_app/login', message:'<%=flash[:notice]%>', authenticity_token:'<%=form_authenticity_token%>'});
          loginWindow.show();
      });
    </script>
  </body>
</html>
