<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Dashboard</title>
    <%=include_sencha_touch :debug => true%>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <%=static_javascript_include_tag('erp_app/utility.js')%>
    <%=static_javascript_include_tag('erp_app/mobile/mobile_base.js')%>
    <%#=setup_js_authentication(@user, @desktop)%>
    <%=create_authenticity_token_sencha_touch_field%>
    
    
    <!-- application javascript resources -->
    <%=static_javascript_include_tag(@application.locate_resources('javascripts'))%>
    <!-- end application javascript resources -->

    <!--stylesheets-->
    <%= static_stylesheet_link_tag('erp_app/mobile/mobile.css') %>
    <!--end stylesheets-->

    <!-- application stylesheet resources -->
    <%=static_stylesheet_link_tag(@application.locate_resources('stylesheets'))%>
    <!-- end application stylesheet resources -->
    
  </head>
  <body>
  </body>
</html>