<div id="result"></div>
<div>
  <% form_remote_tag :url => build_widget_url(:new), :update => "result", :html => {:id => 'login_form'} do %>
    <div class="form_settings">
      <p>
        <span>Login</span>
        <%= text_field_tag :login%>
      </p>
      <p>
        <span>Password</span>
        <%= password_field_tag :password %>
      </p>
      <input type="hidden" name="logout_to" value="<%=@logout_to%>" />
      <input type="hidden" name="login_to" value="<%=@login_to%>" />
      <p style="padding-top: 15px">
        <span>&nbsp;</span>
        <%=  submit_tag "Login", :disable_with => "Please wait...", :class => "submit" %>
      </p>
    </div>
  <% end %>
</div>