<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>CompassAE Mobile</title>
    <%=include_sencha_touch :debug => true%>
    <%=static_javascript_include_tag('erp_app/utility.js')%>
    <%=static_javascript_include_tag('erp_app/shared/mobile_base.js')%>
    <%#=setup_js_authentication(@user, @desktop)%>
    <script type="text/javascript">
      Compass.ErpApp.Mobile.AuthentictyToken = '<%=form_authenticity_token%>';
    </script>

    <script type="text/javascript">
      Compass.ErpApp.Mobile.CompassLogo = '<%=@compass_logo%>';
    </script>

    <!--stylesheets-->
    <%= static_stylesheet_link_tag('erp_app/shared/mobile.css') %>
    <!--end stylesheets-->

    <%= static_javascript_include_tag("erp_app/mobile/app.js")%>
  </head>
  <body>
  </body>
</html>