<div id="<%=widget_result_id%>"></div>
<div> 
  <%= form_tag build_widget_url(:new), :remote => true, :id => 'signup_form' do %>
    <div class="form_settings">
      <p>
        <span>First Name</span>
        <%= text_field_tag :first_name %>
      </p>
      <p>
        <span>Last Name</span>
        <%= text_field_tag :last_name %>
      </p>
      <p>
        <span>Email</span>
        <%= text_field_tag :email %>
      </p>
      <p>
        <span>Username</span>
        <%= text_field_tag :username %>
      </p>
      <p>
        <span>Password</span>
        <%= password_field_tag :password %>
      </p>
      <p>
        <span>Confirm Password</span>
        <%= password_field_tag :password_confirmation %>
      </p>
      <p style="padding-top: 15px">
        <span>&nbsp;</span>
        <%=  submit_tag "Sign Up", :disable_with => "Please wait...", :class => "submit" %>
      </p>
    </div>
  <% end %>
</div>
<script type="text/javascript">
$('#signup_form').bind('ajaxComplete', function(e, xhr, settings){
  var response = xhr.responseText;
  if(response.search('Successful') != -1){
    $('#<%=widget_result_id%>').html('<div class="sexysuccess">'+response+'</div>');
  }else{
    $('#<%=widget_result_id%>').html('<div class="sexyerror">'+response+'</div>');
  }
});
</script>