<style type="text/css">
  #products-view {
    font-family:'Lucida Grande','Lucida Sans Unicode',sans-serif;
    text-align:center;
    font-size:14px;
    width:100%;
    border-collapse: collapse;
    border: 2px solid #CCCCCC;
  }

  #products-view a {
    text-decoration:none;
  }

  #products-view img {
    height:60px;
    width:65px;
    padding-right:15px;
  }

  #products-view div
  {
    float:left;
    text-align:left;
  }

  #products-view th {
    padding: 0 0.5em;
    height:30px;
    text-align:center;
    background:url("/images/knitkit/footer.png") repeat-x scroll 0 0 #29425E;
  }

  .highlight:hover
  {
    background-color:#FFFFEE;
  }

  #products-view td+td {
    border-left: 1px solid #CCC;
    text-align: center;
  }
</style>
<div id="<%=widget_result_id%>">
  <table id="products-view">
    <thead>
      <tr>
        <th>Product</th>
        <th># Available</th>
        <th>Buy It</th>
      </tr>
    </thead>
    <tbody>
      <% ProductType.all.each do |product_type| %>
        <tr class="product-wrap highlight">
          <td>
            <div><img src="<%=product_type.images.empty? ? '/images/img_blank.png' : product_type.images.first.url%>" alt="Product Image" /></div>
            <div>
              <span><%=link_to_remote product_type.description, build_widget_url(:show, product_type.id) %></span><br/>
              <span><%=product_type.get_current_simple_amount_with_currency.nil? ? 'no price set' : product_type.get_current_simple_amount_with_currency%></span>
            </div>
          </td>
          <td><%=product_type.inventory_entries.first.number_available%></td>
          <td><%=link_to_remote 'Add To Cart', build_widget_url(:add_to_cart, product_type.id) %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>