<%
display = 'none'
unless @user.errors.empty?
  display = 'block'
end
%>
<div>
  <div id="requiredErrorDiv" style="display:<%=display%>;padding:5px;color:red;border:solid 1px #CCC;background-color:#CCFFCC;">Please correct following errors
    <ul>
      <% @user.errors.collect do |e, m| %>
        <li><%="#{e.humanize unless e == "base"} #{m}"%></li>
      <% end %>
    </ul>
  </div>
  <% form_for @user, :url => { :controller => "signup", :action => "new" } do |f| %>
    <div class="form_settings">
      <p>
        <span>First Name</span>
        <%= f.text_field :first_name %>
      </p>
      <p>
        <span>Last Name</span>
        <%= f.text_field :last_name %>
      </p>
      <p>
        <span>Email</span>
        <%= f.text_field :email %>
      </p>
      <p>
        <span>Username</span>
        <%= f.text_field :login %>
      </p>
      <p>
        <span>Password</span>
        <%= f.password_field :password %>
      </p>
      <p>
        <span>Confirm Password</span>
        <%= f.password_field :password_confirmation %>
      </p>
      <p style="padding-top: 15px">
        <span>&nbsp;</span>
        <%=  submit_tag "Signup", :class => "submit" %>
      </p>
    </div>
  <% end %>
</div>