<div>
  <% if @ajax_results %>
    <% form_remote_tag :url => build_widget_url(:new), :html => {:id => 'search_form'} do %>
      <%= hidden_field_tag :section_permalink, @section_permalink %>
      <%= hidden_field_tag :content_type, @content_type %>
      <%= hidden_field_tag :per_page, @per_page %>
      <%= text_field_tag :query %>
      <%= submit_tag "Search", :disable_with => "Please wait...", :class => "submit" %>
    <% end %>
  <% else %>
    <% form_tag "/#{@results_permalink}", :html => {:id => 'search_form'}, :method => :get do %>
      <%= hidden_field_tag :section_permalink, @section_permalink %>
      <%= hidden_field_tag :content_type, @content_type %>
      <%= hidden_field_tag :widget_action, 'new' %>
      <%= text_field_tag :query %>
      <%= submit_tag "Search", :disable_with => "Please wait...", :class => "submit" %>
    <% end %>
  <% end %>
</div>
<br />
<div id="result"></div>
