<div>
  <% unless @results_permalink.nil? or @results_permalink.blank? %>
    <% form_tag "/#{@results_permalink}", :html => {:id => 'search_form'}, :method => :get do %>
      <%= hidden_field_tag :widget_action, 'new' %>
      <%= text_field_tag :query %>
      <%= submit_tag "Search", :disable_with => "Please wait...", :class => "submit" %>
    <% end %>
  <% else %>
    <% form_remote_tag :url => build_widget_url(:new), :update => "result", :html => {:id => 'search_form'} do %>
      <%= text_field_tag :query %>
      <%= submit_tag "Search", :disable_with => "Please wait...", :class => "submit" %>
    <% end %>
  <% end %>
</div>
<br />
<div id="result"></div>
