<% unless @ajax_results %>
<p>
  <%=render :partial => '/search' %>
</p>
<% end %>

<% @results.each do |r| %>
<p>
  <a href="/<%=r[:link] %>"><%= r[:title] %></a><br />
  <%= r[:content].body_html[0..100] unless r[:content].body_html.nil? %><br />
</p>
<% end %>

<% if @ajax_results %>  
<p>
  <%= will_paginate @results, :class => 'pagination ajax', :params => { :controller => "/widgets/search", 
                                                                        :action => :new,
                                                                        :widget_action => 'new', 
                                                                        :query => params[:query],
                                                                        :content_type => params[:content_type],
                                                                        :section_permalink => params[:section_permalink],
                                                                        :per_page => params[:per_page]
                                                                      } %>
</p>
<% else %>
<p>
   <%= will_paginate @results, :params => { :controller => "/#{@results_permalink}", 
                                            :widget_action => @widget_action, 
                                            :query => params[:query],
                                            :content_type => params[:content_type],
                                            :section_permalink => params[:section_permalink],
                                            :per_page => params[:per_page]                                            
                                          } %>
</p>
<% end %>

