<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Organizer</title>
    <!-- include google maps -->
     <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <!-- include google maps -->
	
	<!--javascript-->
    <%= include_extjs(:theme => @organizer.get_preference(:extjs_theme), :debug => true) %>
    
    <%= static_javascript_include_tag("erp_app/utility.js",
      "erp_app/shared/preference_form.js",
      "erp_app/organizer/preference_window.js",
      "erp_app/shared/notes_grid.js",
      "erp_app/shared/google_map_panel.js",
      "erp_app/coolclock/tray_clock.js",
      "erp_app/coolclock/coolclock.js",
      "erp_app/coolclock/moreskins.js",
      "erp_app/organizer/layout.js",
      "erp_app/organizer/default_menu_tree_panel.js") %>
    <%=setup_js_authentication(@user)%>
	<%@organizer.applications.each do |application| application.locate_resources('javascripts').each{|path|%>
		<%=static_javascript_include_tag(path)%>
	<%}end%>
	
	<!--stylesheets-->
	<%= static_stylesheet_link_tag('erp_app/compass-ext-all.css') %>
	<%@organizer.applications.each do |application| application.locate_resources('stylesheets').each{|path|%>
		<%=static_stylesheet_link_tag(path)%>
	<%}end%>
  </head>
  <body scroll="no">
    <script type="text/javascript">
      Ext.onReady(function() {
        var organizerLayout = Ext.create("Compass.ErpApp.Organizer.Layout",{logout_url:'/users/sign_out'});

        <%@organizer.applications.each do |application|%>

        var <%=application.internal_identifier.camelize%> = Ext.create("Compass.ErpApp.Organizer.Applications.<%=application.internal_identifier.camelize%>.Base",<%=raw application.widget_roles.merge({:organizerLayout => 'organizerLayout'}).to_json.gsub('"organizerLayout"','organizerLayout')%>);
        <%=application.internal_identifier.camelize%>.setup();

        <%end%>
          organizerLayout.setupLogoutButton();
          organizerLayout.setup();
      });
    </script>
  </body>
</html>

