<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="generator" content="adva-cms - Open source content management platform" />
    <title><%= @site.title %></title>
      <%= theme_stylesheet_link_tag 'lake', 'style.css' %>
    <%= yield :head %>
  </head>
  <body>
    <div id="wrapper">
    <div id="menu">
        <%= render_menu(@sections) %>
    </div>
    <!-- end #menu -->
    <div id="header">
        <div id="logo">
          <h1><a href="#"><%= @site.title %></a></h1>
          <p><%= @site.subtitle %></p>
         <%= yield :header %>
        </div>
    </div>
           
    <!-- end #header -->
     <div id="page">
     <div id="page-bgtop">
     <div id="page-bgbtm">
     <div id="content">
        <%= yield %>
     <div style="clear: both;">&nbsp;</div>
     </div>
     <!-- end #content -->
        <div id="sidebar">
          </div>
       <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
    </div>
    </div>
    </div>
    <!-- end #page -->
    </div>
    <%= yield :footer or render :partial => 'shared/footer' %>
    <%= yield :foot %>
  </body>
</html>

