<%= form_tag build_widget_url(:update_password), :remote => true, :html => {:id => 'password_form'} do %>
  <div class="form_settings" style="margin-left: 20px;">
    <p>
      <span>Old Password</span>
      <%= password_field_tag :old_password %>
    </p>
    <p>
      <span>New Password</span>
      <%= password_field_tag :new_password %>
    </p>
    <p>
      <span>Confirm Password</span>
      <%= password_field_tag :password_confirmation %>
    </p>
    <p style="padding-top: 15px">
      <input type="reset" class="submit" value="Reset" style="margin: 0 0 0 120px;" />
      <%=  submit_tag "Submit", :disable_with => "Please wait...", :class => "submit", :style => "margin-left: 0;" %>
    </p>
  </div>
<% end %>