<% form_remote_tag :url => build_widget_url(:update_contact_information), :html => {:id => 'contact_information_form'} do %>
    <div class="form_settings" style="margin-left: 20px;">
	
	  <!-- *****Email Addresses***** -->
	
	  <h4 style='float: left; border-width: 0px 0px 1px; border-style: solid;'>Email Addresses</h4>
	  <h4 style='float: right; border-width: 0px 0px 1px; border-style: solid;'>Contact Type</h4>
	  <div style='clear:both;'></div>
      </br>
	  <% @email_addresses.each_with_index do |e, i|%>
	    <p>
	    <span>Email Address <%= i + 1 %></span>
	    <%= text_field_tag ("email_addresses[#{i}]", e.email_address) %>
	    <%= select_tag("email_address_contact_purposes[#{i}]", options_for_select(@purpose_hash, 
			:selected => e.contact.contact_purposes.first.internal_identifier, :disabled => "type"), 
			{:style => 'width: auto; float: right; margin: 5px 0px;'}) %>
	    </p>
	    <div style='clear:both;'></div>
	  <% end %>
	  <p><a href="#" id="new_email_button" 
	  		   onclick="var state = document.getElementById('new_email_hide_show').style.display;
					    if (state == 'block') {
							document.getElementById('new_email_hide_show').style.display = 'none';
							document.getElementById('new_email_button').innerHTML = 'Add New Email Address (+)';
						} else {
							document.getElementById('new_email_hide_show').style.display = 'block';
							document.getElementById('new_email_button').innerHTML = 'Add New Email Address (-)';
						} 
						return false;
						">Add New Email Address (+)</a></p>
	  <div id='new_email_hide_show' style='display: none;'>
	    <p>
	    <span>New Email Address</span>
        <%= text_field_tag("new_email_address") %>
        <%= select_tag("new_email_address_contact_purpose", options_for_select(@purpose_hash,
        	:selected => "type", :disabled => "type"),
	        {:style => 'width: auto; float: right; margin: 5px 0px;'}) %>
	    </p>
	    <div style='clear:both;'></div>
	  </div>
	  </br>

	  <!-- *****Phone Numbers***** -->	
	
	  <h4 style='float: left; border-width: 0px 0px 1px; border-style: solid;'>Phone Numbers</h4>
	  <div style='clear:both;'></div>
	  </br>
	  <% @phone_numbers.each_with_index do |p, i|%>
	  <p>
	    <span>Phone Number <%= i + 1 %></span>
	    <%= text_field_tag ("phone_numbers[#{i}]", p.phone_number) %>
	    <%= select_tag("phone_number_contact_purposes[#{i}]", options_for_select(@purpose_hash, 
			:selected => p.contact.contact_purposes.first.internal_identifier, :disabled => "type"), 
			{:style => 'width: auto; float: right; margin: 5px 0px;'}) %>
	  </p>
	  <div style='clear:both;'></div>
	  <% end %>
	  <p><a href="#" id="new_number_button" 
	  		   onclick="var state = document.getElementById('new_number_hide_show').style.display;
					    if (state == 'block') {
							document.getElementById('new_number_hide_show').style.display = 'none';
							document.getElementById('new_number_button').innerHTML = 'Add New Phone Number (+)';
						} else {
							document.getElementById('new_number_hide_show').style.display = 'block';
							document.getElementById('new_number_button').innerHTML = 'Add New Phone Number (-)';
						} 
						return false;
						">Add New Phone Number (+)</a></p>
	  <div id='new_number_hide_show' style='display: none;'>
	    <p>
	    <span>New Phone Number</span>
        <%= text_field_tag("new_phone_number") %>
        <%= select_tag("new_phone_number_contact_purpose", options_for_select(@purpose_hash,
        	:selected => "type", :disabled => "type"),
	        {:style => 'width: auto; float: right; margin: 5px 0px;'}) %>
	    </p>
	    <div style='clear:both;'></div>
	  </div>
	  </br>

	  <!-- *****Postal Addresses***** -->	
	  
	  <h4 style='float: left; border-width: 0px 0px 1px; border-style: solid;'>Addresses</h4>
	  <div style='clear:both;'></div>
	  </br>
	  <% @postal_addresses.each_with_index do |a, i|%>
	  <p>
		<!-- left column -->
		<div style="float: left; width: 21%;">
	      <span>Address <%= i + 1 %></span>
		</div>
		
		<!-- middle column -->
		<div style="float: left; width: 54%;">
	      <%= text_field_tag ("postal_addresses[#{i}][address_line_1]", a.address_line_1, {:style => 'margin-bottom: 4px;'}) %>
		  <%= text_field_tag ("postal_addresses[#{i}][address_line_2]", a.address_line_2, {:style => 'margin-bottom: 4px;'}) %>
		
		  <!-- left sub-column -->
		  <div style="float: left; width: 50%;">
			<%= text_field_tag ("postal_addresses[#{i}][city]", a.city, {:style => 'width: auto; margin-bottom: 4px;'}) %>
			<%= text_field_tag ("postal_addresses[#{i}][zip]", a.zip, {:style => 'width: auto; margin-bottom: 4px;'}) %>
		  </div>
		
		  <!-- right sub-column -->
		  <div style="float: right; width: 50%; text-align: right;">
			<%= select_tag("postal_addresses[#{i}][state_id]", options_for_select(@states_id, 
				:selected => a.geo_zone_id, :disabled => "default"), 
				{:style => 'width: 100%; margin: 5px 0px;'}) %>
			</br>
		    <%= select_tag("postal_addresses[#{i}][country_id]", options_for_select(@countries_id, 
		    	:selected => a.geo_country_id, :disabled => "default"),																														
				{:style => 'width: 100%; margin: 5px 0px;'}) %>
		  </div>
		</div>
		
		<!-- right column -->
		<div style ="float: left; width: 25%;">
	      <%= select_tag("postal_address_contact_purposes[#{i}]", options_for_select(@purpose_hash, 
				:selected => a.contact.contact_purposes.first.internal_identifier, :disabled => "type"), 
				{:style => 'width: auto; float: right; margin: 5px 0px;'}) %>
		</div>
		<div style="clear: both;"></div>
	  </p>
	  <% end %>
	  
	  
	  <p><a href="#" id="new_address_button" 
	  		   onclick="var state = document.getElementById('new_address_hide_show').style.display;
					    if (state == 'block') {
							document.getElementById('new_address_hide_show').style.display = 'none';
							document.getElementById('new_address_button').innerHTML = 'Add New Address (+)';
						} else {
							document.getElementById('new_address_hide_show').style.display = 'block';
							document.getElementById('new_address_button').innerHTML = 'Add New Address (-)';
						} 
						return false;
						">Add New Address (+)</a></p>
	  <div id='new_address_hide_show' style='display: none;'>
	    <p>
		  <!-- left column -->
		  <div style="float: left; width: 21%;">
	        <span>New Address</span>
		  </div>
		
		  <!-- middle column -->
		  <div style="float: left; width: 54%;">
	        <%= text_field_tag ("new_postal_address[address_line_1]", "Address Line 1", {:style => 'margin-bottom: 4px;'}) %>
		    <%= text_field_tag ("new_postal_address[address_line_2]", "Address Line 2", {:style => 'margin-bottom: 4px;'}) %>
		  
		    <!-- left sub-column -->
		    <div style="float: left; width: 50%;">
			  <%= text_field_tag ("new_postal_address[city]", "City", {:style => 'width: auto; margin-bottom: 4px;'}) %>
			  <%= text_field_tag ("new_postal_address[zip]", "Zipcode", {:style => 'width: auto; margin-bottom: 4px;'}) %>
		    </div>
		
		    <!-- right sub-column -->
		    <div style="float: right; width: 50%; text-align: right;">
			  <%= select_tag("new_postal_address[state_id]", options_for_select(@states_id, :selected => "default", :disabled => "default"), 
																				{:style => 'width: 100%; margin: 5px 0px;'}) %>
			  </br>
		      <%= select_tag("new_postal_address[country_id]", options_for_select(@countries_id, :selected => "default",:disabled => "default"),																														
																				{:style => 'width: 100%; margin: 5px 0px;'}) %>
		    </div>
		  </div>
		
		  <!-- right column -->
		  <div style ="float: left; width: 25%;">
	        <%= select_tag("new_postal_address_contact_purpose", options_for_select(@purpose_hash, :selected => "type", :disabled => "type"), 
																		{:style => 'width: auto; float: right; margin: 5px 0px;'}) %>
		  </div>
		  <div style="clear: both;"></div>
	    </p>
	    <div style='clear:both;'></div>
	  </div>
	
	  <!-- Buttons -->
	
      <p style="padding-top: 15px">
        <span>&nbsp;</span>
        <input type="reset" value="Reset" style="margin-left:112px;
        										 background: none repeat scroll 0 0 #263C56;
    											 border: 1px solid;
    											 color: #FFFFFF;
    											 cursor: pointer;
   												 font: 100% arial;
    											 height: 33px;
    											 margin: 0 0 0 212px;
    											 padding: 2px 0 3px;
   												 width: 99px;">
        <%=  submit_tag "Submit", :disable_with => "Please wait...", :class => "submit", :style => "margin-left: 0;" %>
      </p>

    </div>
  <% end %>